<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <%- include('common/header') %>

        <div>
            <% user.forEach((item)=> { %>
                <h3>Welcome to our profile page, <%= item.name %>
                </h3>
                <p>Email: <%= item.email %>
                </p>
                <p>Age: <%= item.age %>
                </p>
                <% }); %>
        </div>
</body>

</html>